<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Projektu lentele</h1>
        <form action="" method="get">
            <p><input type="text" name="searchlaukelis"></p>
            <p><input type="submit" value="filtruoti"></p>
        </form>
        <p><a href="/prideti-projekta">Ivesti nauja projekta</a></p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pavadinimas</th>
                    <th>Kaina</th>
                    <th>Kaina su pvm</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
            {% for elem in projektas_rows %}
                <tr>
                    <td>{{ elem.id }}</td>
                    <td>{{ elem.pavadinimas }}</td>
                    <td>{{ elem.kaina }}</td>
                    <td>{{ elem.kaina_su_pvm }}</td>
                    <td>
                        <a href="/projektai/{{ elem.id }}">ziureti</a>
                        <a href="/redaguoti-projekta/{{ elem.id }}">redaguoti</a>
                        <form action="/trinti-projekta/{{ elem.id }}" method="post">
                            <input type="submit" value="istrinti">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>